@import './fonts.css';
@import './variables.css';
@import './reset.css';

html, body {
  height: 100%;
  min-height: 100vh; 
  overflow-x: hidden;
}

body {
  display:flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  font-family: var(--font-family-primary);
  color: var(--color-text-primary);
  background-image: url('assets/images/background.svg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

a {
  color: var(--color-link);
  text-decoration: none;
  padding: var(--size-1);

  &:hover {
    text-decoration: underline;
  }
}

.disabled {
  opacity: 0.5;
  pointer-events: none;
}

@media (max-width: 1024px) {
  body {
    align-items: flex-start;
  }
}