* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline-color: var(--color-text-tertiary);
}

ul, li {
  list-style: none;
}

input {
  border: 0;
}

button {
  border: 0;
}

svg {
  overflow: visible;
}